.container:hover {
    cursor: pointer;
    scale: 1.012;
    transition: 0.2s;
}

@media (min-width: 601px) {
    .container {
        width: 100%;
        height: 400px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        border-radius: 10px;
        transition: 0.2s;
        background-color: rgb(32, 32, 32);
    }

    #faded-background {
        position: relative;
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image-container {
        width: 13%;
        height: 90%;

        margin-left: 1.5%;
    }

    .poster-image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 5px;
    }

    .text-container {
        width: 60%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 20px;
    }

    .title-container {
        width: 100%;
        height: 20%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title-text {
        font-size: 3.23rem;
        font-weight: bold;
        color: white;
        margin-left: 1.5%;
    }

    .genres-container {
        width: 100%;
        height: 10%;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .genre-text {
        font-size: 1.23rem;
        color: white;
        margin-left: 1.5%;
    }

    .description-container {
        width: 100%;
        height: 70%;

        display: flex;
        flex-direction: column;
        text-align: center;

        padding: 15px;

        border-radius: 10px;

        background-color: rgba(0, 0, 0, 0.582);
    }

    .description-text {
        font-size: 1.33rem;
        color: white;
        /* margin: 1.5%; */
        text-align: justify;
    }

    .buttons-container {
        width: 27%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rows {
        width: 90%;
        height: 20%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: 1.23rem;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.582);
    }

    #row2 {
        margin-top: 5%;
    }

    #remove-library {
        width: 60%;
        height: 20%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-radius: 10px;

        font-size: larger;
        font-weight: bold;

        margin-top: 5%;
        transition: 0.2s;

        background-color: rgba(185, 44, 44, 0.719);
    }

    #remove-library:hover {
        cursor: pointer;
        scale: 1.23;
        transition: 0.2s;
    }

    #add-library {
        width: 60%;
        height: 20%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-radius: 10px;

        font-size: larger;
        font-weight: bold;

        margin-top: 5%;
        transition: 0.2s;

        background-color: rgba(44, 185, 44, 0.719);
    }

    #add-library:hover {
        cursor: pointer;
        scale: 1.12;
        transition: 0.2s;
    }
}