
@media (min-width: 601px) {
    .container {
        width: 80%;
        height: 85%;

        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        border-radius: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);

        background-size: cover;
        background-blend-mode: multiply;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0.3);

        transition: 0.2s;
    }

    .container:hover {
        cursor: pointer;
        scale: 1.1;
        transition: 0.2s;
    }

    .title-text {
        font-size: calc(1.5em + 1vw);
        font-weight: bolder;

        pointer-events: none
    }
}