<div class="container">
    <!-- header -->
    <app-header-item
        [placeholder]='search_placeholder'
        [link]='search_link'
        [content]='search_content'
        [enableNull]='true'
    >
    </app-header-item>

    <!-- page content    -->
    <div class="page-content">
        <div class="library-container">
            @for(item of library_items(); track item) {
                <app-search-item
                    [inputItem]="item"
                    [search]="false"
                >
                </app-search-item>
            }
        </div>
    </div>
</div>