<div class="container">

    <div class="header">

        <div class="logo-container">

        </div>

        <div class="search-container">
            <form action="" class="search-form">
                <input class="search-input" type="text" [(ngModel)]="search_text" name="search_text" placeholder="Cerca un film">
                <button class="search-button" type="submit" (click)="search()">Cerca</button>
            </form>
        </div>

        <div class="settings-container">

        </div>
    </div>

    <div class="page-content">
        <div class="slogan-container">

        </div>

        <div class="feed-container">

            <div class="recommended-container">
                @for(recomended_item of recomended_list; track recomended_item) {
                    <!-- TODO: see if it works -->
                    <app-recomended-home-item></app-recomended-home-item>
                }
            </div>
        </div>

        
    </div>
</div>
