<div class="container">

    <div class="header">

        <div class="logo-container">

        </div>

        <div class="search-container">
            <form action="" class="search-form">
                <input class="search-input" type="text" [(ngModel)]="search_text" name="search_text" placeholder="Cerca un film">
                <button class="search-button" type="submit" (click)="search()">Cerca</button>
            </form>
        </div>

        <div class="settings-container">

        </div>
    </div>

    <div class="page-content">
        <div class="slogan-container">

        </div>

        @if (show_latest_entry == true) {
            <div class="recomended-container">
                <!-- TODO: fix this -->
                @for (last_entry of last_entry_list; track index) {

                }
            </div>
        }
        <div>

        </div>
    </div>
</div>
