<div class="container">

    <app-header-item
        [placeholder]='search_placeholder'
        [link]='search_link'
        [content]='search_content'
        [enableNull]='false'
    ></app-header-item>

    <div class="page-content">
        <div class="films-container">
            @for(item of films_items(); track item) {
                <app-search-item
                    [inputItem]="item"
                    [search]="true"
                >
                </app-search-item>
            }
        </div>
    </div>
</div>