<div class="container">

    <div class="logo-container">
        <div class="logo-content">
            <img class="logo" (click)="home()" src="/assets/svgs/home.svg" alt="Logo" />
        </div>
        
    </div>

    @if (enableSearch == true) {
        <div class="search-container">
            <app-search-bar-item
                [placeholder]='placeholder'
                [link]='link'
                [content]='content'
                [enableNull]='enableNull'
            ></app-search-bar-item>
        </div>
    }

    @if (enableSearch == false) {
        <div class="title-container">
            <span class="title-text">{{title}}</span>
        </div>
    }

    <div class="settings-container">
        <!-- FIXME: implement -->
    </div>
</div>